<footer class="bg-dark">
    <div class="sites-container">
        <div class="site">
            <a href="/">
                <img src="../../../assets/Logo.png" alt="Aiden Phan Portfolio Logo" />
                <div>
                    <h4 class="text-light font-heading logo__name">{{ 'The cubicle of' | capitalize }}</h4>
                    <h4 class="text-light font-heading logo__name">{{ 'Aiden Phan' | capitalize }}</h4>
                </div>
            </a>
        </div>        

        <div class="site">
            <a href="https://www.ballerinanailspa.com" target="_blank">
                <img src="../../../assets/Ballerina-Nails-Spa-Logo.png" alt="Aiden Phan Portfolio Logo" />
                <div>
                    <h4 class="text-light font-heading logo__name">{{ 'Ballerina' | capitalize }}</h4>
                    <h4 class="text-light font-heading logo__name">{{ 'Nails and Spa' | capitalize }}</h4>
                </div>
            </a>
        </div>
    </div>

    <p class="text-light legal">©2023 | <span>LEGAL & PRIVACY</span> | ALL RIGHTS RESERVED</p>
</footer>