<div class="menu text-white">
    <div class="site">
        <a href="/">
            <img src="../../../assets/Logo.png" alt="Aiden Phan Portfolio Logo" />
            <div>
                <h4 class="text-light font-heading logo__name">{{ 'The cubicle of' | capitalize }}</h4>
                <h4 class="text-light font-heading logo__name">{{ 'Aiden Phan' | capitalize }}</h4>
            </div>
        </a>
    </div>  

    <div class="horizontal-line bg-light"></div>

    <div class="link" *ngFor="let menu of this.menuService.menu">
        <a href [routerLink]="menu.link" class="font-heading text-blue">
            {{ menu.name | capitalize }}
        </a>
    </div>

    <div class="horizontal-line bg-light"></div>

    <div class="socials cursor-pointer">
        <a *ngFor="let social of this.menuService.socials" [href]="social.link" target="_blank" class="socials-item">
            <img class="bg-light" [src]="social.icon" [alt]="'Aiden Phan ' + social.name">
        </a>
    </div>
</div>