.menu {
    .site {
        display: none
    }
    padding: 1.8em .5em 1.8em .5em;
    & .horizontal-line {
        width: 100%;
        height: .1em
    }
    & .link {
        text-align: end;
        margin: 1em .2em 1em 0em;
        &:hover {
            & a {
                color: white;
                font-size: 1.15em;
            }
        }
        & a {
            transition: all .25s ease-in-out;
            text-decoration: none;
            letter-spacing: .03em;
            font-size: 1.1em;
        }
    }

    & .socials {
        margin-top: 1em;
        margin-left: 1.7em;
        & .socials-item {
            & img {
                width: 1.3em;
                margin-left: .3em;
                padding: .2em;
                border-radius: 50%;
                transition: all .25s ease-in-out;
                &:hover {
                    background-color: white;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .menu {
        & .link {
            text-align: center;
        }
        & .socials {
            margin-left: auto;
            margin-right: auto;
        }
        & .site {
            margin-top: -1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;
            cursor: pointer;
            & a {
                text-decoration: none;
            }
            &:hover {
                & div .logo__name {
                    color: white;
                }
            }
            & img {
                width: 5em;
                margin-bottom: -1em;
            }
            & div {
                & .logo__name {
                    margin: 0;
                    margin-bottom: -.3em;
                    text-align: center;
                    font-size: 1.2em;
                    transition: all .25s ease-in-out;
                }
            }
        }
    }
}