@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Bona+Nova');
@import url('https://fonts.googleapis.com/css?family=Rubik');

$color_dark: #161925;
$color_light: #abacb0;
$color_secondary: #282626;
$color_blue: #39abce;
$color_gray: #535353;

$font_bebas_neue: "Bebas Neue";
$font_bona_nova: "Bona Nova";
$font_rubik: "Rubik";