@use "./assets/var";

body {
    margin: 0;
    padding: 0;
    .text-light {
        color: var.$color_light;
    }
    .text-white {
        color: white;
    }
    .text-blue {
        color: var.$color_blue;
    }
    .font-heading {
        font-family: var.$font_bebas_neue;
    }
    .font-foot {
        font-family: var.$font_bona_nova;
    }
    .font-main {
        font-family: var.$font_rubik
    }
    .bg-dark {
        background-color: var.$color_dark;
    }
    .bg-light {
        background-color: var.$color_light;
    }
    .bg-secondary {
        background-color: var.$color_secondary;
    }
    .bg-gray {
        background-color: var.$color_gray;
    }
    .cursor-pointer {
        cursor: pointer;
    }
}
